body {
  background-image: url("banniere.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 2px; 
}

.choixLangue{
  text-align: right;
  margin: 2%;
}
.choixLangue a{
  color: black!important;
}


header {
  width: 100%;
  min-height: 500px;
}

.pp {
  margin-left: 50%;
}

.pp img{
  position: absolute;
  z-index: 2;
  margin-left: -125px
}

.holder {
  margin-top: 13%;
  width: 100%;
  height: 125px;
  position: relative;
}

.holder .circle {
  border-radius: 100% 100% 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.holder .circle:nth-child(1) {
  border: 6px solid black;
  border-bottom: none;
  border-radius: 275px 275px 0 0;
  width: 275px;
  height: 137.5px;
  z-index: 1;
  -webkit-animation: circle-10 20s infinite ease-in-out;
  animation: circle-10 20s infinite ease-in-out;
}
@-webkit-keyframes circle-10 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-3600deg);
    transform: translateX(-50%) rotate(-3600deg);
  }
}
@keyframes circle-10 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-3600deg);
    transform: translateX(-50%) rotate(-3600deg);
  }
}
.holder .circle:nth-child(2) {
  border: 6px solid black;
  border-bottom: none;
  border-radius: 300px 300px 0 0;
  width: 300px;
  height: 150px;
  z-index: 1;
  -webkit-animation: circle-11 20s infinite ease-in-out;
  animation: circle-11 20s infinite ease-in-out;
}
@-webkit-keyframes circle-11 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-3960deg);
    transform: translateX(-50%) rotate(-3960deg);
  }
}
@keyframes circle-11 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-3960deg);
    transform: translateX(-50%) rotate(-3960deg);
  }
}
.holder .circle:nth-child(3) {
  border: 6px solid black;
  border-bottom: none;
  border-radius: 325px 325px 0 0;
  width: 325px;
  height: 162.5px;
  z-index: 1;
  -webkit-animation: circle-12 20s infinite ease-in-out;
  animation: circle-12 20s infinite ease-in-out;
}
@-webkit-keyframes circle-12 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-4320deg);
    transform: translateX(-50%) rotate(-4320deg);
  }
}
@keyframes circle-12 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-4320deg);
    transform: translateX(-50%) rotate(-4320deg);
  }
}
.holder .circle:nth-child(4) {
  border: 6px solid black;
  border-bottom: none;
  border-radius: 350px 350px 0 0;
  width: 350px;
  height: 175px;
  z-index: 1;
  -webkit-animation: circle-13 20s infinite ease-in-out;
  animation: circle-13 20s infinite ease-in-out;
}
@-webkit-keyframes circle-13 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-4680deg);
    transform: translateX(-50%) rotate(-4680deg);
  }
}
@keyframes circle-13 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-4680deg);
    transform: translateX(-50%) rotate(-4680deg);
  }
}
.holder .circle:nth-child(5) {
  border: 6px solid black;
  border-bottom: none;
  border-radius: 375px 375px 0 0;
  width: 375px;
  height: 187.5px;
  z-index: 1;
  -webkit-animation: circle-14 20s infinite ease-in-out;
  animation: circle-14 20s infinite ease-in-out;
}
@-webkit-keyframes circle-14 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-5040deg);
    transform: translateX(-50%) rotate(-5040deg);
  }
}
@keyframes circle-14 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-5040deg);
    transform: translateX(-50%) rotate(-5040deg);
  }
}
.holder .circle:nth-child(6) {
  border: 6px solid black;
  border-bottom: none;
  border-radius: 400px 400px 0 0;
  width: 400px;
  height: 200px;
  z-index: 1;
  -webkit-animation: circle-15 20s infinite ease-in-out;
  animation: circle-15 20s infinite ease-in-out;
}
@-webkit-keyframes circle-15 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-5400deg);
    transform: translateX(-50%) rotate(-5400deg);
  }
}
@keyframes circle-15 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-5400deg);
    transform: translateX(-50%) rotate(-5400deg);
  }
}
.holder .circle:nth-child(7) {
  border: 6px solid black;
  border-bottom: none;
  border-radius: 425px 425px 0 0;
  width: 425px;
  height: 212.5px;
  z-index: 1;
  -webkit-animation: circle-16 20s infinite ease-in-out;
  animation: circle-16 20s infinite ease-in-out;
}
@-webkit-keyframes circle-16 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-5760deg);
    transform: translateX(-50%) rotate(-5760deg);
  }
}
@keyframes circle-16 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-5760deg);
    transform: translateX(-50%) rotate(-5760deg);
  }
}

/*///////////Navbar////////////*/

/* To mantain the navbar at the top once it is affixed */
.affix {
  top: 0;
  width: 100%;
}
.navbar {
  background-color: black!important;
  border: 15px double white;
  border-top: none;
  border-bottom: none;
}
.navbar a { /*texte dans la navbar*/
  font-size: 20px;
  color : white!important;
  text-align:  center!important;
}
.navbar a:hover { /*quand le pointeur de la souris est sur le texte dans la navbar*/
  background-color: #232323!important;
}
.dropdown-menu{ /*menu dépliant*/
  background-color: black!important;
}
.dropdown-item:hover{ /*quand le pointeur de la souris est sur le texte dans le menu dépliant*/
  background-color: #232323!important;
}
.navbar-dark .navbar-toggler{ /**/
  border-color: rgba(255,255,255,1);
}
.navbar button:hover{ /*quand le pointeur de la souris est sur le bouton du menu dépliant*/
  background-color: #232323;
}
.navbar-nav {
  float:none;
  margin:0 auto;
  text-align: center;
}
.navbar-nav > li {
  display: inline-block;
  float:none;
  margin-right: 30px;
  margin-left: 30px;
}

.preTitre{
  color: white;
  margin-bottom: 6%;
}

.preRac{
  margin-top: 20%;
  color: white;
  margin-bottom: 6%;
}

.titreRac{
  font-size: 25px;
  color: black!important;
  border-bottom: solid 3px black;
  text-align: right;
  margin-right: 75%;
  padding: 1rem .5rem;
}


/*Presentation*/
.presentation {
  transition: 350ms ease;
  margin-top: 10%;
  padding-left: 30%;
  padding-right: 5%;
  margin-bottom: 20%;
  font-weight: 300;
  text-align: right;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.presentation .carousel{

  float: right;
  border-right: 15px double black;
  border-left: 15px double black;
  margin-left: 15px;
}
.presentation:hover{
  transition: 350ms ease;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.presentation p{
  margin-bottom: 5%;
  padding-left: 25%;
}
.presentation a{
  color: black!important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

/*Projects*/
.projects .titre{
  font-size: 20px;
  text-align: right;
  margin-bottom: 2%;
  border-right: 15px double black;
  margin-right: 5px;
}
.projects .titre a{
  border-right: 5px solid white;
  background: black;
  color: white!important;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 300;
}

/*Graphics*/
.graphics .resume-section{
  border: 15px double black;
  margin-left: 5px;
  margin-right: 5px;
  border-top: none;
  border-bottom: none;
  text-align: center;
  padding: 0!important;
}
.graphics img{
  transition: 350ms ease;
  width: 413px;
  margin-bottom: 15px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.graphics img:hover{
  transition: 350ms ease;
  transform: scale(.98);
  /*cursor: pointer;*/
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/*Games*/
.games .resume-section{
  border: 15px double black;
  margin-left: 5px;
  margin-right: 5px;
  border-top: none;
  border-bottom: none;
  text-align: center;
  padding: 0!important;
}
.games img{
  transition: 350ms ease;
  width: 413px;
  margin-bottom: 15px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.games img:hover{
  transition: 350ms ease;
  transform: scale(.98);
  /*cursor: pointer;*/
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


/*Musics/Sounds*/
.musics .block{
  border: 15px double black;
  margin-left: 5px;
  margin-right: 5px;
  border-top: none;
  border-bottom: none;
  margin-bottom: 5%;
}
.projects .soustitre{
  font-size: 18px;
  margin-top: 4%;
  text-align: right;
  margin-right: 80%;
  background-color: black;
  border-right: 6px solid black;
  color: white;
  font-weight: 300;
}
iframe{
  transition: 350ms ease;
  margin-top: 2%;
  
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
iframe:hover{
  transition: 350ms ease;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.sounds section{
  margin-top: 30px;
  padding: 0!important;
  text-align: center;
  background-color: #f1f3f4;
}
.sounds p{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f1f3f4;
}



/*Skills*/
.skills .resume-section{
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
.skills .resume-section h6{
  border-top: 10px solid white;
  font-size: 15px;
}
.skills .icon-color img{
  transition: 350ms ease;
  width: 90px;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.skills .icon-color img:hover{
  transition: 350ms ease;
  transform: scale(1.2);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.skills .list-inline-item:not(:last-child) {
  margin-right: 40px;
}
.skills .icon-color h6{
  margin-top: 1vw;
  opacity: 0;
  transition: opacity 350ms;
}
.skills .icon-color:hover h6{
  opacity: 1;
  transition: opacity 350ms;
}


/*Contact*/

.pointer{ /*cercle autour du pointer*/
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
}

.contact{
  background-color: black;
  border: 15px double white;
  border-top: none;
  border-bottom: none;
  padding-top: 100px;
  padding-bottom: 20px;
}

.mail{
  font-weight: 200;
  margin-right: 15%;
  margin-left: 15%;
  padding: 10px;
  color: white;
}
.mail h6{
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 0;
}
.mail h1{
  margin-bottom: 5%;
  font-weight: 400;
  font-size: 40px;
}
form p{
  float: left;
  width: 100%;
  margin-top: 20px;
  font-weight: 200;
  font-size: 17px;
}

input[type=text],  textarea {
  width: 100%;
  padding: 1px 10px;
  border: 1px solid black;
  resize: vertical;
  float: left;
  margin-top: 2px;
}

textarea{
  height: 120px;
}

button[type=submit] {
  transition: 350ms ease;
  margin-top: 5%;
  background-color: black;
  color: white;
  padding: 8px 20px;
  border: 1px solid white;
  width: 100%;
  cursor: pointer;
}
button[type=submit]:hover {
  transition: 350ms ease;
  background-color: white;
  color: black;
}

/*Copyright*/
.copyright{
  margin-top: 8%;
  
}
.copyright p{
  margin-bottom: 0;
  font-size: 15px;
  text-align: left;
}

.copyright .resume-section{
  text-align: right;
  float: right;
  padding: 0!important;
  margin-bottom: 0!important;
}
.copyright .list-inline{
  margin-bottom: 0!important;
}
.copyright .icon-color img{
  transition: 350ms ease;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.copyright .icon-color img:hover{
  transition: 350ms ease;
  transform: scale(1.2);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@media screen and (max-width: 1080px) {
  form p, input[type=text],  textarea, button[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .contact{
    padding-top: 260px;
  }
}