
body{
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	font-weight: 200;
}

.langue {
	position: relative;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 50px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
}

img{
	text-align: center;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	opacity: 0.1;
}

a{
	color: black!important;
}

.contact{
	background-color: black;
	border-right: 15px double white;
	border-left: 15px double white;
	padding: 10px;
	color: white;
}

.contact p{
	margin-bottom: 0;
	font-size: 15px;
	text-align: left;
}

.pointer{ /*cercle autour du pointer*/
	z-index: 15;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	background: white;
	border-radius: 50%;
	pointer-events: none;
	mix-blend-mode: difference;
}